@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.serachDiv {
  box-shadow: inset 11px 11px 13px #b6b9bf, inset -11px -11px 13px #dfdddd;
}
ol li:hover {
  --tw-text-opacity: 1;
  cursor: pointer;
  border-bottom: 3px solid rgb(147 51 234 / var(--tw-text-opacity));
  transition: 0.2s ease;
  color: black;
}
